@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400,700&display=swap');

/* General Styles */
:root {
    --colorTextBody: #000;
    --white: #fff;
    --pink: #ff91af;
    --cream: #ffdea6;
    --blueGreen: #71c7c7;
}

html {
    box-sizing: border-box;
    font-family: 'Chewy', cursive;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--colorTextBody);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    min-height: 100vh;
    /*margin-top: 8vh;*/
}

/* HEADER */
/*INICIO COMPONENT1*/
#header-component1{
    width:100%;
    padding: 30px;
    background-color:#ff91af;
}
#component1{
    display:flex;
    width:94%;
    height:20%;
    align-items:center;
    justify-content:space-between;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}
#buscar-lenguage ul li{
    color:#ffffff;
}

.style-ico{
    display:inline-block;
    vertical-align:middle;
    font-family: 'Material Icons Outlined';
    font-weight:400;
    font-size: 24px;
    line-height: 1;
    color:white;
}
.icon-lupa::before {
    content:"\e8b6";
}
.icon-lenguage::before {
    content:"\e5cf";
}
.icon-compra::before {
    content:"\f1cc";
}
.icon-user::before {
    content:"\e7ff";
}
.icon-favor::before {
    content:"\e87e";
}
.icon-list::before {
    content:"\e8fe";
}
.hover-letter{
    display:inline-block;
}
.icon-list{
    display:none;
}

#car-user-favor ul li img{
    height:20px;
    margin-right:10px;
}
#buscar-lenguage ul li{
    display:inline;
    text-align:center;
}
#car-user-favor ul li{
    display:inline-block;
}

select{
    font-family:Nunito;
    font-size:15px;
    border-style:none;
    background-color:#ff91af;
    color:#ffffff;
    cursor: pointer;
}
option{
    background-color:white;
    color:black;
}

/*INICION COMPONENT2*/
#component2{
    display:flex;
    width:100%;
    height:10%;
    background-color:#ffdea6;
    align-items:center;
}
#component2 ul .icon-nav{
    display:inline-block;
    margin-right:15px;
    margin-left:15px;
    font-family:Nunito;
    font-size:15px;
    font-weight:600;
    color:black;
    letter-spacing: .5px;
}
#component2 .menuNav{
    list-style-type: none;
    margin-right:auto;
    margin-left:auto;
}
.style-arrows{
    vertical-align:middle;
    font-family: 'Material Icons Outlined';
    font-weight:400;
    font-size: 24px;
    line-height: 1;
    color:black;
}
.style-arrows::before{
    content:"\e5c5";
}

.icon-header:hover .hover-letter{
    color:#FFE1EA;
    transition:.4s;
    }
.icon-nav:hover .hover-letter1{
    color:#ff91af;
    transition:.4s;
}
.style-arrows:hover{
    color:#ff91af;
    transition:.4s;
}
.ajust{
    padding-top:21.5px;
    padding-bottom:21.5px;
    color:black;
}
a{
    text-decoration:none;
}

.component2MenuStyle {
    display:none;
    position:absolute;
    text-align:center;
    border-radius:30px;
    border-style:dashed;
    border-color:pink;
    background-color:white;
}
#menuCollection,
#menuShop,
#menuNatural {
    left:15vw;
    right:15vw;
}
#menuRegular, 
#menuExotic {
left:17vw;
right:17vw;
}

.hoverCollection:hover .component2MenuStyle{
    display:block;
    z-index: 1;
}

.component2MenuStyle li a{
    color:black;
}

.columnBlock{
    display:inline-block;
    vertical-align:top;
    margin:2vw 3vw 2vw 3vw;
}

.columnBlock li {
    display:block;
    color:black;
    letter-spacing:.05em;
    font-weight:300;
    font-size:14px;
    margin-bottom:2vh;
    text-align:left;
}

.imgSubMenu{
    display:inline-block;
    max-width:300px;
    border-radius:30px;
}
.columnBlock li:first-child {
    color:#ff91af;
    font-weight:700;
    font-size:15px;
    line-height: 1.7;
    margin-bottom:15px;
}

/*SECTION SLIDER*/
#slider-components{
    position:relative;
    width:100%;
    
    }
    .all-absolute img{
    position:absolute;
    z-index:1;
    }
    .arrows-slider img{
    width:3%;
    }
    #arrow-left img{
    top:50%;
    left:0;
    }
    #arrow-left{
    width:100%
    }
    #arrow-right{
    width:100%
    }
    #arrow-right img{
    top:50%;
    left:97%;
    }
    #slider-ofert{
    /*width:20%;*/
    text-align:center;
    position:absolute;
    left:10%;
    top:20%;
    /*margin-left:auto;
    margin-right:auto;*/
    }
    #icon-ofert img{
    width:5vw;
    margin-left:auto;
    margin-right:auto;
    }
    #icon-ofert{
    /*margin-left:auto;
    margin-right:auto;*/
    }
    #text1{
    font-family:"Chewy";
    color:white;
    font-size:2vw;
    letter-spacing:5px;
    line-height:1.1;
    }
    #text2{
    font-size:1.7vw;
    font-family:"Nunito";
    font-weight: 600;
    letter-spacing: .1em;
    }
    #text3{
    font-family:"Chewy";
    font-size:2vw;
    color:#a55e03;
    }
    #buttomx{
    font-family:"Nunito";
    background-color:#a55e03;
    /*width:60%;*/
    color:white;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border-radius:30px;
    }
    /*#margin-bottom-img{
    position:absolute;
    top:96.5%;
    background-image:url("/home/estebangv/Documentos/Html/iceCream/IceCream/assets/footer-slider.png");
    width:100%;
    height:3.5%;
    z-index:2;
    
    }*/
    #slider-img img{
    width:100%;
    height:60vh;
    }
    a{
    text-decoration:none;
    }
    
    #slider-ofert-container{
    height:100%;
    width:100%;
    position:absolute;
    }
/*FIN SECTION SLIDER*/


/* Section Trending Products */
.trending-products {
    text-align: center;
}

/* Header */
.trending-products--header__wrapper-img {
    width: fit-content;
    margin: 10px auto;
}

.trending-products--header__title {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.trending-products--header__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.trending-products--header__categories a {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    padding: 5px 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.trending-products--header__categories a span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.loadingAnimation {
    -webkit-animation: 2s rotateLoadingImg linear infinite;
    animation: 2s rotateLoadingImg linear infinite;
}

.firstCategory { color: var(--blueGreen); }
.secondCategory{ color: var(--pink); }
.thirdCategory { color: var(--cream); }

@keyframes rotateLoadingImg { /*Navegadores Firefox e Internet Explorer.*/
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes rotateLoadingImg { /*Navegadores que usan WebKit (Google Chrome, Safari)*/
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

/*SECTION CLIENT SAY*/
#the-clients-say{
background-image:url("https://i.postimg.cc/524yQ2g0/img-icecream.jpg");
background-attachment: fixed;
background-position:center;
background-size:160% 160%;
/*height:100vh;*/
width:100%;
padding-top:15vh;
/*padding-bottom:20vh;*/

}

#component-client-say{
text-align:center;
width:100%;
}

#slider-adjust{
  position:relative;
  text-align:center;
  height:50%;
  width:1340px;
}

.slider-container{
  position:relative;
  height:50%; 
  width:50%;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

.slider-elements{
  /*display:inline-block;*/
  float:left;
  /*position:relative;*/
  width:50vw;
  transition: transform 1s;
  /*height:70%;*/
  /*margin-right:5vw;*/
  /*transform: translate(-50vw);*/
}
#restaurar{  /*para recuperar el flujo normal del elemento contenedor*/
clear:left;
}

.quotes-clients-say::before {
content:"\e244";
}

.quotes-clients-say {
vertical-align:middle;
font-family: 'Material Icons Outlined';
background-color:#ffdea6;
width:40px;
height:40px;
padding-top:6px;
margin-left:auto;
margin-right:auto;
border-radius:50% 50% 50% 50%;
font-weight:400;
font-size: 30px;
color:black;
}

#first-img-clients-say{
margin-bottom:20px;
}
#first-img-clients-say img{
display:inline-block;
}

#text1-clients-say{
font-family:"Chewy";
font-size:40px;
letter-spacing:4px;
color:white;
margin-bottom:50px;
}
.text2-clients-say{
color:white; 
line-height: 35px;
margin-top:20px;
}
.details-author{
margin-top:40px;
margin-bottom:30px;
}
#space-around{
height:50px;
}
.details-author div{
display:inline-block;
font-family:"Nunito";
color:white;
text-align:left;
vertical-align:middle;
}
.details-author img{
display:inline-block;
vertical-align:middle;
border-radius:50% 50% 50% 50%;
margin-right:20px;
}
.options-clients-say div{
display:inline-block;
margin:5px;
width:10px;
height:10px;
border-radius: 50% 50% 50% 50%;
background-color:#ffdea6;
}

/*FIN SECTION CLIENT SAY*/

/* FOOTER */
/* Section contact  */
.footer {
    text-align: center;
    color: var(--white);
}

.footer-news-form {
    width: 100%;
    height: auto;
    padding: 15% 15px;
    background-image: url("https://i.postimg.cc/MK5bn9Sm/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* News */
.footer-news {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 700;
}

.footer-news p {
    margin: 0 0 15px;
    line-height: 1.1;
    letter-spacing: 0.05em;
}
.footer-news p:last-child {
    font-weight: 400;
}
.footer-news__p--big {
    font-size: 2.8rem;
}

/* Form */
.footer-form__container {
    max-width: 1020px;
    margin: 0 auto;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    margin: 40px auto 20px;
}

.footer-form input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin: 15px auto;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: none;
    outline: none;
}

.footer-form input[type='submit'] {
    font-weight: 700;
    background-color: var(--pink);
    color: var(--white);
    letter-spacing: 0.1rem;
    cursor: pointer;
    vertical-align: middle;
    transition: color 1s 0s;
}
.footer-form input[type='submit']:hover {
    background-color: var(--cream);
    color: #000;
}

/* Navbar */
.footer-nav {
    width: 95%;
    padding: 15px;
    margin: 55px auto 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.footer-nav ul li a {
    display: inline-block;
    padding: 10px;
    transition: color 1s;
}
.footer-nav ul li a:hover {
    color: var(--cream);
}


/* SECTION BOTTOM */
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-right: 0;
    font-size: 1.4rem;
    background-color: var(--cream);
    color: var(--colorTextBody);
}

.footer-bottom-icons-payment {
    width: 100%;
    margin: 10px auto 30px auto;
}
.footer-bottom-icons-payment ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.footer-bottom-icons-payment ul li {
    display: inline-block;
    width: 45px;
    height: 28px;
    margin-right: 10px;
}
.footer-bottom-icons-payment ul li:last-child {
    margin-right: 0;
}

.footer-bottom-logo {
    margin-bottom: 30px;
}
.footer-bottom-logo img {
    padding-top: 5px;
}

.footer-bottom__p {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.footer-bottom__p a {
    font-size: 1.3rem;
    color: inherit;
    transition: color 1s;
}
.footer-bottom__p a:hover {
    color: var(--pink);
}


/* Media Queries */

@media (max-width:756px) {
      #slider-ofert{
      /*background-color:yellow;*/
      
      bottom:auto;
      left:0;
      width:100%;
      height:100%;
      margin-top:auto;
      margin-bottom:auto;
      }
      #slider-ofert-container{
      background-color:orange;
      opacity:0.7;
      }
      .all-absolute img{
      z-index:1;
      }
      #buttomx{
      width:30%;
      font-size:2vmax;
      }
      #text1, #text2, #text3{
      font-size:4vmax;
      }
      #icon-ofert img{
      width:6vmax;
      margin-left:auto;
      margin-right:auto;
      }
      #text1-clients-say{
      font-size:26px;
      letter-spacing:1px;
      }
      .slider-container{
      width:71%;
      height:80%;
      }

      .slider-elements{
      width:70vw;
      /*transform: translate(-71vw);*/
      /*margin-right:5vw;*/
      }
     
  
  
    }

@media screen and (max-width: 320px) {
    .footer-nav ul li a {
        padding-right: 0px;
    }
}

@media(max-width:756px){
    #header-component2{
        display:none;
        visibility:hidden;
        position:absolute;
        top:0;
        left:0;
        width:50%;
    }

    #component2{
        display:flex;
        width:100%;
        height:100vh;
        flex-direction:column;
        background-color:#ffdea6;
        align-items:center;
    }

    #component2 ul li{
    display:block;
    }

    .icon-list{
    display:inline-block;
    }
}


@media screen and (min-width: 420px) {
    .footer-nav ul {
        justify-content: center;
        padding-top: 20px;
    }
}

@media screen and (min-width: 750px) {
    .footer-form {
        display: block;
        width: 100%;
        margin-top: 70px;
    }

    .footer-form input {
        width: calc(85% / 3);
        padding: 0 20px;
        margin-right: 20px;
    }

    .footer-news-form {
        padding: 5% 0;
    }

    .footer-nav ul li a {
        padding: 0 25px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding: 10px 17px;
    }

    .footer-bottom-icons-payment,
    .footer-bottom-logo,
    .footer-bottom__p {
        margin: 0;
    }

    .footer-bottom-icons-payment {
        padding-right: 20px;
    }

    .footer-bottom-icons-payment ul {
        flex-wrap: wrap;
        justify-content: unset;
    }
}

@media screen and (min-width: 1580px){
    .footer-news__p--big {
        font-size: 4rem;
    }
}
